{% extends "master/basepanel.html" %}
{% load static %}
{% block contentmaster %}
<!-- =======================
Settings START -->
<section class="py-4">
	<div class="container">
		<div class="row pb-4">
			<div class="col-12">
				<!-- Title -->
				<h1 class="mb-0 h3">تنظیمات</h1>			
			</div>
		</div>
		<div class="row g-4">
			<!-- Profile settings START -->
			<div class="col-lg-6">
				<div class="card border">

					<!-- Card body START -->
					<div class="card-body">

						<!-- Profile START -->
						<h4 class="mb-3">تنظیمات حساب کاربری</h4>
						<div class="form-check form-switch form-check-md">
							<input class="form-check-input" type="checkbox" role="switch" id="profilePublic" checked="">
							<label class="form-check-label" for="profilePublic">نمایش پروفایل برای همه</label>
						</div>
						<!-- Profile START -->

						<hr><!-- Divider -->

						<!-- Notification START -->
						<h4 class="card-header-title">مدیریت اعلان ها</h4>
						<p class="mb-2 mt-3">نوتیف هایی که مایل به دریافت آن هستید را فعال کرده و مابقی را غیرفعال نمایید.</p>
						<div class="form-check form-switch form-check-md mb-3">
							<input class="form-check-input" type="checkbox" id="checkPrivacy1" checked="">
							<label class="form-check-label" for="checkPrivacy1">ارسال ایمیل هنگام ورود به سیستم</label>
						</div>
						<div class="form-check form-switch form-check-md mb-3">
							<input class="form-check-input" type="checkbox" id="checkPrivacy2">
							<label class="form-check-label" for="checkPrivacy2">ارسال پیامک تایید برای تمام پرداخت های آنلاین</label>
						</div>
						<div class="form-check form-switch form-check-md mb-3">
							<input class="form-check-input" type="checkbox" id="checkPrivacy3" checked="">
							<label class="form-check-label" for="checkPrivacy3">بررسی کنید کدام دستگاه(ها) به حساب شما دسترسی دارند</label>
						</div>
						<div class="form-check form-switch form-check-md mb-3">
							<input class="form-check-input" type="checkbox" id="checkPrivacy4">
							<label class="form-check-label" for="checkPrivacy4">نمایش پروفایل برای همه</label>
						</div>
						<!-- Notification START -->

						<!-- Buttons -->
						<div class="d-sm-flex justify-content-end">
							<button type="button" class="btn btn-sm btn-primary me-2 mb-0">ذخیره</button>
							<a href="#" class="btn btn-sm btn-outline-secondary mb-0">لغو</a>
						</div>

					</div>
					<!-- Card body END -->
				</div>
			</div>
			<!-- Profile settings END -->
			
			<!-- Credit card START -->
			<div class="col-lg-6">
				<div class="card border-0 mb-4">
					<div class="bg-primary p-4 rounded-3">
						<div class="d-flex justify-content-between align-items-start text-white">
							<img class="w-60" src="{% static 'master/' %}assets/images/visa.svg" alt="">
							<!-- Card action START -->
							<div class="dropdown">
								<a class="text-white" href="#" id="creditcardDropdown" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
									<!-- Dropdown Icon -->
									<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
										<circle fill="currentColor" cx="12.5" cy="3.5" r="2.5"></circle>
										<circle fill="currentColor" opacity="0.5" cx="12.5" cy="11.5" r="2.5"></circle>
										<circle fill="currentColor" opacity="0.3" cx="12.5" cy="19.5" r="2.5"></circle>
									</svg>
								</a>               
								<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="creditcardDropdown">
									<li><a class="dropdown-item" href="#"><i class="bi bi-credit-card-2-front-fill me-2 fw-icon"></i>ویرایش کارت</a></li>
									<li><a class="dropdown-item" href="#"><i class="bi bi-credit-card me-2 fw-icon"></i>افزودن کارت جدید</a></li>
									<li><a class="dropdown-item" href="#"><i class="bi bi-arrow-bar-down me-2 fw-icon"></i>برداشت پول</a></li>
									<li><a class="dropdown-item" href="#"><i class="bi bi-calculator me-2 fw-icon"></i>تبدیل واحد</a></li>
								</ul>
							</div>
							<!-- Card action END -->
						</div>
						<div class="mt-4 text-white">
							<span>موجودی</span>
							<h2 class="text-white mb-0">220000 تومان</h2>
						</div>
						<h4 class="text-white mt-4">**** **** **** 1569</h4>
						<div class="d-flex justify-content-between text-white">
							<span>تاریخ انقضا: 1400/12</span>
							<span>CVV: ***</span>
						</div>
					</div>
				</div>
				<div class="mt-2">
					<a class="text-secondary" href="#"> <i class="bi bi-plus-square pe-1"></i> افزودن روش جدید پرداخت</a>
				</div>
			</div>
			<!-- Credit card END -->

			<!-- Website and Darkmode settings START -->
			<div class="col-lg-6">
				
				<!-- Darkmode setting START -->
				<div class="card border mb-4">

					<!-- Card header -->
					<div class="card-header border-bottom p-3">
						<h4 class="card-header-title mb-0">تنظیمات نسخه روشن - تیره</h4>
					</div>

					<!-- Card body START -->
					<div class="card-body">
						<!-- Mode with radio -->
						<div class="hstack gap-2 flex-wrap">
							<!-- Mode light -->
							<div class="form-check form-check-inline align-items-center">
								<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" checked="">
								<label class="form-check-label" for="inlineRadio1">
									<img src="{% static 'master/' %}assets/images/icon/d-light.svg" class="rounded shadow w-80" alt="">
								</label>
								<div class="text-center mt-1 small">روشن</div>
							</div>
							<!-- Mode dark -->
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
								<label class="form-check-label" for="inlineRadio2">
									<img src="{% static 'master/' %}assets/images/icon/d-dark.svg" class="rounded shadow w-80" alt="">
								</label>
								<div class="text-center mt-1 small">تیره</div>
							</div>
							<!-- Mode system -->
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
								<label class="form-check-label" for="inlineRadio3">
									<img src="{% static 'master/' %}assets/images/icon/d-default.svg" class="rounded shadow w-80" alt="">
								</label>
								<div class="text-center mt-1 small">پیش فرض</div>
							</div>
						</div>

						<!-- Content -->
						<p class="mb-0 mt-3 small"><b>نکته:</b> این امکان فقط برای  تنظیمات حالت وب سایت است.</p>
					</div>
					<!-- Card body END -->
				</div>
				<!-- Darkmode setting END -->
				
				<!-- Website Settings START -->
				<div class="card border">

					<!-- Card header -->
					<div class="card-header border-bottom p-3">
						<h4 class="card-header-title mb-0">تنظیمات وب سایت</h4>
					</div>

					<!-- Card body START -->
					<div class="card-body">
						<form class="row g-4">
							<!-- Input item -->
							<div class="col-lg-6">
								<label class="form-label">نام سایت</label>
								<input type="text" class="form-control" placeholder="نام سایت" value="Blogzine">
								<div class="form-text">نام وب سایت را وارد کنید</div>
							</div>
							<!-- Input item -->
							<div class="col-lg-6">
								<label class="form-label">کپی رایت</label>
								<input type="text" class="form-control" placeholder="کپی رایت" value="Webestica">
								<div class="form-text">استفاده برای تماس و ارسال ایمیل</div>
							</div>
							<!-- Textarea item -->
							<div class="col-12">
								<label class="form-label">توضیحات</label>
								<textarea class="form-control" rows="3">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </textarea>
								<div class="form-text">برای نوشتن شرح مختصری از سازمان یا یک وب سایت</div> 
							</div>
							<!-- Input item -->
							<div class="col-lg-6">
								<label class="form-label">شماره تماس</label>
								<input type="text" class="form-control" placeholder="Contact Phone" value="09380415678">
								<div class="form-text">استفاده برای تماس و پشتیبانی</div>
							</div>
							<!-- Input item -->
							<div class="col-lg-6">
								<label class="form-label">ایمیل پشتیبانی</label>
								<input type="email" class="form-control" placeholder="Support Email" value="hello@example.com">
								<div class="form-text">برای ایمیل پشتیبانی</div>
							</div>
							<!-- Radio items -->
							<div class="col-12">
								<label class="form-label">اجازه ثبت نام</label>
								<div class="d-sm-flex">
									<!-- Radio -->
									<div class="form-check radio-bg-light me-4">
										<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked="">
										<label class="form-check-label" for="flexRadioDefault1">
											فعال
										</label>
									</div>
									<!-- Radio -->
									<div class="form-check radio-bg-light me-4">
										<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
										<label class="form-check-label" for="flexRadioDefault2">
											غیرفعال
										</label>
									</div>
									<!-- Radio -->
									<div class="form-check radio-bg-light">
										<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
										<label class="form-check-label" for="flexRadioDefault3">
											بنا به درخواست
										</label>
									</div>
								</div>
							</div>
							<!-- Textarea item -->
							<div class="col-12">
								<label class="form-label">آدرس</label>
								<textarea class="form-control" rows="3"></textarea>
								<div class="form-text">آدرس پشتیبانی</div> 
							</div>
							<!-- Save button -->
							<div class="d-sm-flex justify-content-end">
								<button type="button" class="btn btn-primary mb-0">به روزرسانی</button>
							</div>
						</form>
					</div>
					<!-- Card body END -->
				</div>
				<!-- Website Settings END -->
			</div>
			<!-- Website and Darkmode settings START -->

			<!-- Activity logs -->
			<div class="col-lg-6">
				<div class="bg-light rounded-3 p-4 mb-3">
					<div class="d-md-flex justify-content-between align-items-center">
						<!-- Content -->
						<div>
							<h6 class="h4">گزارش فعالیت</h6>
							<p class="mb-1 mb-md-0">می توانید تمام گزارش های فعالیت خود از جمله فعالیت غیرمعمول شناسایی شده را ذخیره کنید.</p>
						</div>
						<!-- Switch -->
						<div class="form-check form-switch form-check-md mb-0">
							<input class="form-check-input" type="checkbox" id="checkPrivacy6" checked="">
						</div>
					</div>
				</div>

				<!-- Change password -->
				<div class="bg-light rounded-3 p-4 mb-3">
					<!-- Content -->
						<h6 class="h4">تغییر رمز عبور</h6>
						<p class="mb-1 mb-md-0">یک رمز عبور منحصر به فرد برای محافظت از حساب خود تنظیم کنید.</p>
					<!-- Button -->
					<div class="d-sm-flex gap-3 align-items-center mt-3">
						<a href="#" class="btn btn-primary mb-1" data-bs-toggle="modal" data-bs-target="#changePassword">تغییر رمز عبور</a>
						<p class="mb-0 small h6">آخرین تغییر 10 دی 1400</p>
					</div>
				</div>

				<!-- 2 Step Verification -->
				<div class="bg-light rounded-3 p-4">
					<div class="d-md-flex justify-content-between align-items-center">
						<!-- Content -->
						<div>
							<h6 class="h5">تایید 2 مرحله ای</h6>
							<p class="mb-1 mb-md-0">حساب خود را با امنیت ۲ مرحله ای ایمن کنید. هنگامی که فعال شد، نه تنها رمز عبور خود، بلکه یک کد خاص را نیز با استفاده از برنامه باید وارد کنید. شما می توانید این کد را در اپلیکیشن موبایل دریافت کنید.</p>
						</div>
						<!-- Switch -->
						<div class="form-check form-switch form-check-md mb-0">
							<input class="form-check-input" type="checkbox" id="checkPrivacy13" checked="">
						</div>
					</div>
				</div>

				<!-- Activity log START -->
				<div class="card border mt-4">

					<!-- Card header -->
					<div class="card-header border-bottom p-3">
						<h4 class="card-header-title mb-0">گزارش فعالیت</h4>
					</div>

					<!-- Card body START -->
					<div class="card-body">
						<!-- Table START -->
						<div class="table-responsive border-0">
							<table class="table align-middle p-4 mb-0 table-hover">
								<!-- Table head -->
								<thead class="table-dark">
									<tr>
										<th scope="col" class="border-0 rounded-start">مرورگر</th>
										<th scope="col" class="border-0">آی پی</th>
										<th scope="col" class="border-0">ساعت</th>
										<th scope="col" class="border-0 rounded-end">فعالیت</th>
									</tr>
								</thead>
								<!-- Table body START -->
								<tbody class="border-top-0">
									<!-- Table row -->
									<tr>
										<td>Chrome با ویندوز</td>
										<td>173.238.198.108</td>
										<td>12 آذر 1400</td>
										<td><button class="btn btn-sm btn-danger-soft me-1 mb-0">خروج</button></td>
									</tr>
									<!-- Table row -->
									<tr>
										<td>Mozilla با ویندوز</td>
										<td>107.222.146.90</td>
										<td>08 آبان 1400</td>
										<td><button class="btn btn-sm btn-danger-soft me-1 mb-0">خروج</button></td>
									</tr>
									<!-- Table row -->
									<tr>
										<td>Chrome با ویندوز</td>
										<td>231.213.125.55</td>
										<td>06 مهر 1400</td>
										<td><button class="btn btn-sm btn-danger-soft me-1 mb-0">خروج</button></td>
									</tr>
									<!-- Table row -->
									<tr>
										<td>Mozilla با ویندوز</td>
										<td>37.242.105.138</td>
										<td>02 مرداد 1400</td>
										<td><button class="btn btn-sm btn-danger-soft me-1 mb-0">خروج</button></td>
									</tr>
								</tbody>
								<!-- Table body END -->
							</table>
						</div>
						<!-- Table END -->
					</div>
					<!-- Card body END -->
				</div>
			</div>
			<!-- Activity log END -->
		</div>
 	</div>
</section>
<!-- =======================
Settings END -->
{% endblock contentmaster %}